<div class="container">
  <div class="content">
    <%= form_for :session, url: sessions_path, method: :post do |f| %>
    <div>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, type: 'email' %>
    </div>
    <div>
      <%= f.label :password, "Password" %>
      <%= f.text_field :password, type: 'password' %>
    </div>
    <div>
      <%= f.submit "Login", :disable_with => 'Logining...', class: 'btn btn-primary' %>
    </div>
    <% end -%>
  </div>
</div>